body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Handlee&family=Kaushan+Script&family=Patua+One&display=swap');

h1, h2, h3, h4, h5, p, label {
  color: white;
}

.homepage {
  /* text-align: center; */
  background-color: #111;
}

.title {
  font-family: 'Kaushan Script', cursive;
  /* font-family: 'Handlee', cursive; */
}

.image {
  width: 100vw;
  /* max-height: 100vh; */
  padding: 0;
  margin: 0;
}


.imgFooter {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 3rem;
}

.largeIcon {
  transform: scale(1.8);
}

.socialIcon {
  transform: scale(1.8);
  margin-right: 1rem;
  margin-left: 1rem;
}

.noRightPadding {
  margin-right: 0rem;
}

.white {
  color: white !important;
}

.black {
  color: #111;
}

.black-bg {
  background-color: #111;
}

.z-100 {
  z-index: 100;
}


@media (prefers-reduced-motion: no-preference) {
  .HomePage-logo {
    animation: HomePage-logo-spin infinite 20s linear;
  }
}

.header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  z-index: 100;
}

@keyframes HomePage-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  cursor: pointer !important;
}


.text p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 2.5rem;
  text-decoration: none;
  font-weight: 100;
}

@media (min-width: 576px){
  .text p {
    font-size: 1.3rem;
  }
}

.text-font {
  font-family: 'Patua One', cursive;
}

.video {
  height: 50vh;
}


.underline {
  /* text-decoration: underline; */
  font-weight: bold;
}

.text-title {
  font-size: 3rem;
}

.content-div {
  display: flex;
  height: 100vh;
  /* background-image: url('../assets/background.jpeg');
  background-repeat: repeat-x;  */
}

@media (min-width: 576px){
  .text-div {
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 35%;
  }

}

.text-div div, .text-div form {
  margin: auto;
}

textarea { 
  resize: none !important; 
}


.image-div {
  margin-left:auto;
  height: 100vh;
  object-fit: cover;
  width: 65%;
  padding: 0 !important;
}

.img-cover {
  object-fit: cover;
  margin-left:auto;
  width: 100%;

}

.submit-btn {
  border-color: white;
  background-color: #111;
  color: white;
}


.submit-btn:hover {
  border-color: white;
  background-color: white;
  color: #111;
}

.img-gallery {
  object-fit: cover;
  width: 100%;
  margin-bottom: 1em;
}

.mt {
  margin-top: 5em;
}

@media (max-width: 576px){
  .gallery-page {
    margin-top: 5em;
  }
}


.language-select a {
  background-color: transparent;
  border: 0;
  font-family: 'Patua One', cursive;
  color: white !important;
  font-size: 1.25rem;
}

div.dropdown-menu.show {
  width: 1rem !important;
  padding-bottom: 0rem !important;
}

a.dropdown-item {
  padding-left: 0.5rem !important;
  padding-right: 0.25rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.w-120 {
  width: 120%;
}

.black{
  color: #111;
}

.black:hover{
  color: #111;
}

.all-screen{
  max-width: 100vw !important;
  max-height: 90vh !important;
  margin: auto;
}

.nav-link {
  vertical-align: middle !important;
  padding-bottom: 0 !important;
  height: 2.5rem !important;
}

div.all-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='15' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  border-color: white;
}

.black #basic-nav-dropdown::after{
  color: #111;
}

.white #basic-nav-dropdown::after{
  color: white;
}

@media (max-width: 1200px){
  .all-lg-screen{
    max-width: 100vw !important;
    max-height: 90vh !important;
    margin: auto;
  }
  
  div.all-lg-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dropdown-item:active {
  background-color: black !important;
  color: white !important;
}

.dropdown-item:active h5 {
  color: white !important;
}

.bolder p {
  font-weight: 400;
}